<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="seg_trabajo.Properties.Settings.seg_trabajoConnectionString"
            connectionString="Data Source=SERVER\SQLEXPRESS;Initial Catalog=seg_trabajo;Persist Security Info=True;User ID=daonsa2;Password=Francisco1"
            providerName="System.Data.SqlClient" />
        <add name="seg_trabajo.Properties.Settings.seg_trabajoConnectionString1"
            connectionString="Data Source=DESKTOP-H2GPA2O;Initial Catalog=seg_trabajo;Persist Security Info=True;User ID=sa;Password=p1234"
            providerName="System.Data.SqlClient" />
        <add name="seg_trabajo.Properties.Settings.seg_trabajoConnectionString2"
            connectionString="Data Source=DESKTOP-ETTCB2O;Initial Catalog=seg_trabajo;Persist Security Info=True;User ID=sa;Password=p1234"
            providerName="System.Data.SqlClient" />
        <add name="seg_trabajo.Properties.Settings.seg_trabajoConnectionString3"
            connectionString="Data Source=DESKTOP-07QM9LC\SA;Initial Catalog=seg_trabajo;Persist Security Info=True;User ID=sa;Password=1234"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>